html, body {
    background-color: white;
    padding: 1%;
}

.usersBox {
    height: 75%;
    resize: none;
}  

#shutdownBtn {
    position: absolute;
    width: 10%;
    height: 10%;
    min-height: 40px;
    min-width: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}